/* ===== Museo Sans Cyrl — Thin 100 ===== */
@font-face {
  font-family: 'Museo Sans Cyrl';
  src: url('../fonts/MuseoSansCyrl-100.woff2') format('woff2'), url('../fonts/MuseoSansCyrl-100.woff') format('woff');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Museo Sans Cyrl';
  src: url('../fonts/MuseoSansCyrl-100Italic.woff2') format('woff2'), url('../fonts/MuseoSansCyrl-100Italic.woff') format('woff');
  font-weight: 100;
  font-style: italic;
  font-display: swap;
}

/* ===== Museo Sans Cyrl — Light 300 ===== */
@font-face {
  font-family: 'Museo Sans Cyrl';
  src: url('../fonts/MuseoSansCyrl-300.woff2') format('woff2'), url('../fonts/MuseoSansCyrl-300.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Museo Sans Cyrl';
  src: url('../fonts/MuseoSansCyrl-300Italic.woff2') format('woff2'), url('../fonts/MuseoSansCyrl-300Italic.woff') format('woff');
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

/* ===== Museo Sans Cyrl — Medium 500 ===== */
@font-face {
  font-family: 'Museo Sans Cyrl';
  src: url('../fonts/MuseoSansCyrl-500.woff2') format('woff2'), url('../fonts/MuseoSansCyrl-500.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Museo Sans Cyrl';
  src: url('../fonts/MuseoSansCyrl-500Italic.woff2') format('woff2'), url('../fonts/MuseoSansCyrl-500Italic.woff') format('woff');
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

/* ===== Museo Sans Cyrl — Bold 700 ===== */
@font-face {
  font-family: 'Museo Sans Cyrl';
  src: url('../fonts/MuseoSansCyrl-700.woff2') format('woff2'), url('../fonts/MuseoSansCyrl-700.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Museo Sans Cyrl';
  src: url('../fonts/MuseoSansCyrl-700Italic.woff2') format('woff2'), url('../fonts/MuseoSansCyrl-700Italic.woff') format('woff');
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}

/* ===== Museo Sans Cyrl — Black 900 ===== */
@font-face {
  font-family: 'Museo Sans Cyrl';
  src: url('../fonts/MuseoSansCyrl-900.woff2') format('woff2'), url('../fonts/MuseoSansCyrl-900.woff') format('woff');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Museo Sans Cyrl';
  src: url('../fonts/MuseoSansCyrl-900Italic.woff2') format('woff2'), url('../fonts/MuseoSansCyrl-900Italic.woff') format('woff');
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}
